<div class="banner">
  <h1> Lists</h1>
</div>
<%= link_to "Create a list",  new_list_path, class: "btn btn-info m-3"%>
<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <% if list.photos.attached? %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="col card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= rails_blob_url(list.photos.first) %>;)" >
            <%= link_to list.name, list_path(list)%>
          </div>
        </div>
      <% else %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="col card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/cinema.jpg)">
            <%= link_to list.name, list_path(list)%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
