// Define variables for your color scheme

// For example:
$red: #e2001e;
$blue: #167ffb;
$yellow: #ffbb3de8;
$orange: #e67e22;
$green: #1edd88;
$gray: #272626e1;
$light-gray: #f4f4f4;
$purple-dark: #610f77;
$purple: rgba(121, 9, 155, 0.945);
$whitesmoke: rgba(245, 245, 245, 0.945);
$dark-red: rgb(173, 6, 48);
