.btn-info {
  background-color: $purple;
  text-align: center;
  padding: 4px 12px;
  transition: 0.5s ease;
  &:hover {
    background-color: $purple-dark;
  }
}

.btn-danger {
  background-color: $red;
  text-align: center;
  padding: 4px 12px;
  transition: 0.5s ease;
  &:hover {
    background-color: $dark-red;
  }
}
