// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "button";

a {
  color: whitesmoke;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.nav-link {
  color: indigo;
}

h1,
h2,
h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 500px;
}
